<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular - watches</title>
    <script src="inc/jquery-2.0.0.min.js"></script>
    <link href="inc/style.css" rel="stylesheet" />
    <script src="inc/angular.min.js"></script>
    <script src="inc/app1.js"></script>
    <style>
        .monitor span{
            display:inline-block;
            padding: 3px;
            margin:2px;
        }
    </style>
    <script>
        angular.module('myApp', [])
        .controller('myController', function ($scope) {
            $scope.isRefChanged = false;
            $scope.isCollectionChanged = false;
            $scope.isEqualityChanged = false;
            $scope.isInit = true;
            $scope.sushiNew = [];

            // create the list of sushi rolls 
            $scope.sushi = [
              { name: 'Cali Roll', fish: 'Crab', tastiness: 2 },
              { name: 'Philly', fish: 'Tuna', tastiness: 4 },
              { name: 'Tiger', fish: 'Eel', tastiness: 7 },
              { name: 'Rainbow', fish: 'Variety', tastiness: 6 }
            ];
    
            // refference watches
            $scope.$watch('sushiNew', function (newVal, oldVal) {
                if (!$scope.isInit)
                $scope.isRefChanged = !$scope.isRefChanged;
            },false);

            // collection watches
            $scope.$watchCollection('sushi', function (newVal, oldVal) {
                if (!$scope.isInit)
                $scope.isCollectionChanged = !$scope.isCollectionChanged;
            }, false);

            // equality watches
            $scope.$watch('sushi', function (newVal, oldVal) {
                if (!$scope.isInit)
                $scope.isEqualityChanged = !$scope.isEqualityChanged;
            }, true);

            // 
            $scope.setSushiNew = function () {
                $scope.sushiNew = angular.copy($scope.sushi);
            }

            $scope.addSushi = function () {
                var u = { name: 'New kind', fish: 'Stam', tastiness: 5 };
                $scope.sushi.push(u);               
            }

            $scope.setProperty = function () {
                $scope.sushi[0].name = ($scope.sushi[0].name == "New") ? "Cali Roll" : "New";
            }

        });
    </script>
</head>
<body ng-controller="myController" ng-app="myApp">
    <div style="width:480px;margin-top:0px">
        <div>
            <button ng-click="setSushiNew()">Reference</button>
            <button ng-click="addSushi()">Collection</button>
            <button ng-click="setProperty()">Equality</button>
        </div>
        <div class="monitor">
            <span ng-style="{'background-color':isRefChanged ? 'red' : 'yellow'}">Reference</span>
            <span ng-style="{'background-color':isCollectionChanged ? 'red' : 'yellow'}">Collection</span>
            <span ng-style="{'background-color':isEqualityChanged ? 'red' : 'yellow'}">Equality</span>
        </div>
    </div>
    <script>
        var scope;
        $(document).ready(function () {
            // for access
            scope = angular.element($("body")).scope();
            // init state
            scope.isInit = false;
        })
    </script>
</body>
</html>
