body{
        font-family:Arial,Verdana,Tahoma;
    }
.frame
{
    width:300px;
    margin:20px auto;
    border:1px solid silver;
    padding:20px;
}
.myTable{
    width:100%;
    border-collapse:collapse;
}
.myTable td{
    border:1px solid silver;
    padding:4px;
    width:33%;
}
a:link, a:visited {
	color: navy;
	font-weight:bold;
    text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}