<!DOCTYPE html>
<html>
<head>
    <title>Introduction to Angular - contrillers</title>
    <link href="inc/style.css" rel="stylesheet" />
    <script src="inc/angular.min.js"></script>
    <style>
        input{
            width:100px;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="namesCtrl" class="frame">
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
        <div>First name: <br />
            <input type="text" data-ng-model="names[0].name">
            <input type="text" data-ng-model="names[0].country">
        </div>
    </div>
    <script src="inc/namesController.js"></script>
</body>
</html>
