<!DOCTYPE html>
<html>
<head>
    <title>Introduction to Angular - controllers</title>
    <link href="inc/style.css" rel="stylesheet" />
    <script src="inc/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="personCtrl" class="frame">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br/>
        Full Name: {{fullName()}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "Bill";
            $scope.lastName = "Gates";
            $scope.fullName = function () {
                return $scope.firstName + " " + $scope.lastName;
            };
        });
    </script>
    
</body>
</html>
