<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <title>Introduction to Angular - directives</title>
    <link href="inc/style.css" rel="stylesheet" />
    <script src="inc/angular.min.js"></script>
    <style>
        span{
            width:50px;height:20px;display:inline-block;
        }
    </style>
</head>
<body data-ng-app>
    <div class="frame">
        <label>שם משתמש:</label>
        <!--2 sides binding-->
        <input type="text" data-ng-model="name" placeholder="כתוב השם" />
        <!--1 side binding-->
        <h1 data-ng-if="name">שלום {{name}} !</h1><!--slower binding-->
        <span data-ng-style="{'background-color': name == 'אלכס' ? 'yellow' : 'red'}"></span>
        <div data-ng-bind="name"></div><!--quicker binding-->
        <button data-ng-click="name='אלכס';quantity=500">תמלא שם</button>
        <hr />
        <div data-ng-init="quantity=100;rate=3.9">
            <p>דוגמה של חישוב: {{ quantity * rate }}</p>
        </div>
    </div>
</body>
</html>
