<!DOCTYPE html>
<html>
<head>
    <title>Introduction to Angular - forms</title>
    <link href="inc/style.css" rel="stylesheet" />
    <script src="inc/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function ($scope) {
            $scope.lecturer = { firstName: "Alex", lastName: "Keselman", mail: "a@a.com" };
            $scope.reset = function () {
                $scope.user = angular.copy($scope.lecturer);
            };
            $scope.reset();
            $scope.fill = function (event) {
                $scope.user = { firstName: "Bill", lastName: "Jobs", mail: "b@b.com" }
                event.preventDefault();
            };
            $scope.submit = function () {
                alert("OK");
            }
        });
    </script>
</head>
<body data-ng-app="myApp">
    <div data-ng-controller="formCtrl" style="width:600px" class="frame">
        <form name="myForm" data-ng-submit="submit()" novalidate>
            <p>
                First Name:<br />
                <input type="text" data-ng-model="user.firstName" name="firstName" required>
                <span style="color:red" data-ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
                    <span ng-show="myForm.firstName.$error.required">First name is required.</span>
                </span>
            </p>
            <p>
                Last Name:<br>
                <input type="text" name="ln" data-ng-model="user.lastName" data-ng-style="{color: myForm.ln.$pristine ? 'black' : 'red'}">
            </p>
            <p>
                Email:<br>
                <input type="email" name="email" data-ng-model="user.mail" required>
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                </span>
            </p>
            <br><br>
            <button data-ng-click="reset()">Reset</button><button data-ng-click="fill($event)">Fill other</button>
            <input type="submit"
                   ng-disabled="myForm.firstName.$dirty && myForm.firstName.$invalid
                                    || myForm.email.$dirty && myForm.email.$invalid" />
        </form>
        <p>form = {{user}}</p>
        <p>lecturer = {{lecturer}}</p>
    </div>
</body>
</html>
