body{
        font-family:Arial,Verdana,Tahoma;
    }

.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 10%;
}

.page_container {
    width:100%;
}
.recipes_container {
    overflow: auto;
}
.main_container {
    overflow: auto;
}
.new_recipe_container {
    width: 70%;
    overflow: auto;
    background-color: white;
    position: fixed;
    top: 20%;
    left: 13%;
    max-height: 60%;
    border: 2px dashed black;
}
.login_container {
    width:300px;
    position:fixed;
    right:0;
    top:0;
}
.recipe {
    max-width: 20rem;
    float: left;
    margin: 4px;
}
.sidenav a {
    padding: 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#close_window {
    position:absolute;
    top:0;
    right:0;
}

.footer {
    position:fixed;
    bottom:0;
    background-color:gray;
    max-height:5%;
    width:100%;
}

label {
    padding-right:30px;
}

.form_row_description {
    width:20%;
}
.form_row_value {
    width: 60%;
}

.form_row {
    width:100%;
}

/*!
 * AR - Ron.Y make out website responsive and mobile supported.
 */
@media only screen and (max-width: 600px) {
    .new_recipe_container {
        width: 100% !important;
        left:0;
    }
}