<!DOCTYPE html>
<html>
<head>
    <title>table example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl',
            function ($scope, $http) {

                $scope.page = 1;
                $scope.pageSize = 10;

                angular.element(document)
                    .ready(function () {
                        // get data
                        $http.get('https://api.coinmarketcap.com/v2/ticker/')
                        .success(function (data) {
                            console.log(data);
                            var ar = [];
                            $.each(data.data, function (k, v) {
                                ar.push(v);
                            })
                            $scope.coins = ar;
                            console.log(ar);
                            $scope.pagesCount = Math.floor($scope.coins.length / 10);
                        })
                        .error(function (data) {
                            alert("data=" + data);
                        });
                    });
                // events onclick for paging
                angular.element(".pagination a")
                    .on("click",
                        function (e) {
                            //
                            switch ($(this).text()) {
                                case "first":
                                    $scope.page = 1;
                                    break;
                                case "next":
                                    if ($scope.page < $scope.pagesCount) $scope.page++;
                                    break;
                                case "prev":
                                    if ($scope.page > 1) $scope.page--;
                                    break;
                                case "last":
                                    $scope.page = $scope.pagesCount;
                                    break;
                            }
                            $scope.$apply();
                        });


                $scope.showModalDialog = function (i) {
                    $scope.selectedItem = angular.copy($scope.coins[i]);
                    $scope.selectedItemOrigin = i;
                    $("#mdEditItem").modal();
                }

                $scope.saveItem = function () {
                    $scope.coins[$scope.selectedItemOrigin] = $scope.selectedItem;
                    $('#mdEditItem').modal('hide');
                    $scope.$apply();

                    // this must be executed after sending to server for save in db (onsuccess callback) - see below:
                    //$http.post(url, $scope.selectedItem).
                    //       success(function (data, status, headers, config) {
                    //           // this callback will be called asynchronously
                    //           // when the response is available
                    //           $scope.coins[$scope.selectedItemOrigin] = $scope.selectedItem;
                    //           $('#mdEditItem').modal('hide');
                    //           $scope.$apply();
                    //           console.log(data);
                    //       }).
                    //       error(function (data, status, headers, config) {
                    //            // called asynchronously if an error occurs
                    //            // or server returns response with an error status.
                    //       });
                }


            });
    </script>


</head>
<body data-ng-app="myApp" data-ng-controller="formCtrl">
    <div style="width:1000px; margin: 20px auto;">
        <div>
            <ul class="pagination" style="display: block;">
                <li class="page-item">
                    <a class="page-link" href="#">first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">prev</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">last</a>
                </li>
                <li style="float:right;">
                    Page: <b data-ng-bind="page"></b> from <b data-ng-bind="pagesCount"></b>
                </li>
            </ul>
        </div>
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="tb">
                <tr data-ng-repeat="c in coins | limitTo : pageSize : (pageSize*(page-1)) track by $index" data-ng-click="showModalDialog($index)">
                    <td data-ng-bind="c.id"></td>
                    <td data-ng-bind="c.symbol"></td>
                    <td data-ng-bind="c.name"></td>
                    <td data-ng-bind="c.quotes.USD.price"></td>
                </tr>
            </tbody>
        </table>

        <!-- modal for edit -->
        <div id="mdEditItem" tabindex="-1" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content" style="width:300px">
                    <div class="modal-header modal-header-colored colored-header-warning" style="background-color: #689cf4;color:white">
                        <h3 class="modal-title">Edit Data Item</h3>
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close modal-close"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inpPrice" class="col-3 col-lg-2 col-form-label text-right">Price</label>
                            <div class="col-9 col-lg-10">
                                <input id="inputPrice" type="text" class="form-control form-control-sm" data-ng-model="selectedItem.name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inpPrice" class="col-3 col-lg-2 col-form-label text-right">Price</label>
                            <div class="col-9 col-lg-10">
                                <input id="inputPrice" type="number" class="form-control form-control-sm"
                                       min="0" step="any" data-ng-model="selectedItem.quotes.USD.price" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: 1px solid #689cf4;">
                        <button type="button" class="btn btn-primary" data-ng-click="saveItem()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
